{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="all">
    <title>Главная</title>
</head>
<body>
    <div class="shell">
        <div class="border">
    
            <div id="navigation">
                <ul>
                    <li><a href="/" class="active">Главная</a></li>
                    <li><a href="/admin">Админ панель</a></li>
                </ul>
            </div>
    
            <div id="main">
                <div id="content" class="left">
                    
                    <div class="projects">
                        <a href="{% url 'main:register' %}">Зарегистрироваться</a>
                        <a href="{% url 'login' %}">Войти</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                        <h3>Записи</h3>
                        {% for article in articles %}

                        <div class="item">
                            <div class="image left">
                                <a href="#"><img src="{{ article.image.url }}" width="200px" /></a>
                            </div>
                            <div class="text left">
                                <h2><a href="{{ article.id }}">{{ article.title }}</a></h2>
                                <p>{{ article.content }}</p>
                                <p>Автор: {{ article.author }}</p>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="cl">&nbsp;</div>
            </div>
            
    
        </div>
        
        <div id="footer">
            <p class="copy right">Copyright &copy;  2022 </p>
        </div>
</body>
</html>